<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>店铺管理</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/storeEbi.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/page.css"/>
    <script src="__PUBLIC__/admin/js/jquery-3.1.1.min.js"></script>
</head>
<include file="Public:left" />
    <!-- 右侧主要内容-->
    <div class="right">
        <p class="current_location">
            <span>当前位置</span><span>店铺管理 > e币明细</span>
        </p>
        <div class="content_left fl">
            <div class="content_left_logo">
                    <img src="/{$shop.shophead}" alt="暂无图片"/>
            </div>
            <div class="content_left_name">
                {$result.shopname}
            </div>
            <ul class="content_left_nav">
                <li>
                    <a href="__CONTROLLER__/shopdetail?shopid={$shop.shopid}">店铺信息</a>
                </li>
                <li>
                    <a href="__CONTROLLER__/storeOrder?shopid={$shop.shopid}">订单</a>
                </li>
                <li>
                    <a href="__CONTROLLER__/storeDish?shopid={$shop.shopid}">菜单</a>
                </li>
                <li>
                    <a href="__CONTROLLER__/pingjia?shopid={$shop.shopid}">评论</a>
                </li>
<!--                <li>
                    <a href="storeSend.html">配送费</a>
                </li>-->
                <li>
                    <a class="left_nav_current" href="__CONTROLLER__/emoney?shopid={$shop.shopid}">e币明细</a>
                </li>
                <li>
                    <a href="__CONTROLLER__/zizhi?shopid={$shop.shopid}">资质认证</a>
                </li>
            </ul>
        </div>
        <div class="content_right fl">
            <div class="content_right_one">
                <!--<form>-->
                <input type="hidden" class="shopid" name="shopid" value="{$shop.shopid}"/>
                    <p>e币总额：<input type="text" class="money" name="emoney" value="{$shop.emoney}" onkeyup="clearNoNum(this)"/></p>
                    <div><input type="submit" value="确定" id="aa" /></div>
                <!--</form>-->
            </div>
            <div class="content_right_two">
                <table cellspacing="0">
                    <tr class="tb_title">
                        <td>e币明细ID</td>
                        <td>e币流向</td>
                        <td>流动金额</td>
                        <td>操作</td>
                    </tr>
                    <foreach name="result" key="k" item="v">
                    <tr>
                        <td>{$v.eid}</td>
                    <if condition="$v.flag eq 1">
                        <td>购买</td>
                        <elseif condition="$v.flag eq 2"/>
                        <td>{$v.username}购买抵消</td>
                        <elseif condition="$v.flag eq 3"/>
                        <td>打赏给{$v.username}</td>
                        <elseif condition="$v.flag eq 5"/>
                        <td>平台管理员修改e币金额为{$v.emoney}e币</td>
                    </if>
                        <td>{$v.emoney}e币</td>
                        <td>
                            <a class="del">删除</a>
                        </td>
                    </tr>
                    </foreach>
                </table>
                <div class="page">
                    {$show}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //点击删除按钮，出现提示
    $(".del").on("click",function(){
        $("#tip").show();
    });
    //限制input框中只能输入数字（保留2位小数）
    function clearNoNum(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value= parseFloat(obj.value);
        }
    }
</script>
<script>
    $(function(){
        $("#aa").on("click",function(){
            var emoney = $('.money').val();
            var shopid = $('.shopid').val();
           $.ajax({
            type:"POST",
            url:"{:U('Index/editemoney')}",
            data:{shopid:shopid,emoney:emoney},
            success:function(data){
                if(data.status == 1){
                    alert('修改成功。');
                    window.location.reload();
                }else if(data.status == 0){
                    alert("失败。");
                }
            }
        });
    })
    })
</script>
</body>
</html>