<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>添加优惠码</title>
<link rel="stylesheet" href="__PUBLIC__/admin/css/authenticated.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/css.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/right.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/install.css">
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-1.9.1.js"></script>
<style type="text/css">
    .rig-cc{
        width: 6%;
        /*float: left;*/
    }
    .rig-c2 ul li {
        margin: 10px 0px 20px 0px;
    }
    
    .rig-c4,.rig-c5{       
        padding: 3px 0px 5px 0px;
    }

</style>
</head>
<include file="Public:left" />
        <div class="right">
            <div class="right1">
                <div class="dao">
                    <ul>
                        <li>管理员设置</li>
                        <li>></li>
                        <li>优惠码</li>
                        <li>></li>
                        <li>添加优惠码</li>
                    </ul>
                </div>
                <div class="dao1">
                    <div class="dao2">
                        <div class="pian">
                            <img src="__PUBLIC__/admin/img/icon_01.png" alt="">
                        </div>
                        <div class="pian1">
                            <p>
                                {$session}
                            </p>
                            <p>
                                ﹀
                            </p>
                        </div>
                    </div>
                    <div class="dao3">
                        <p>
                            切换账号
                        </p>
                        <p>
                            退出
                        </p>
                    </div>

                </div>
            </div>
            <div class="rig-c">
               <div class="rig-c1" style="font-weight: bold;font-size: 1.3em;margin-top:30px;">
                   添加优惠码
               </div>
               <div class="rig-c2">
                   <ul>
                       <li>
                           <label for="">优惠码：</label>
                           <input type="text" class="rig-c3 youhuima">
                       </li>
                       <li>
                           <label for="">优惠方式：</label>
                           <input type="radio" class="rig-cc" name="percent" value="1">百分比
                           <input type="radio" class="rig-cc" name="percent" value="2">抵扣金额
                       </li>
                       <li>
                           <label for="">优惠额度：</label>
                           <input type="text" class="rig-c3 money"/>
                       </li>                      
                       <li>
                           <input type="button" class="rig-c4 tijiao" value="提交">
                           <input type="button" class="rig-c5" value="取消">
                       </li>
                       <li style="margin:14% 0; color:#8A8A8A;">
                           注：“百分比”代表优惠的百分比额度，“抵扣金额”代表实际抵扣金额
                       </li>
                   </ul>
               </div>
            </div>
        </div>
    </div>
</body>
<script>
//  $(".left").height($(window).height());
</script>
<script>
    $(".right").height($(window).height());
</script>
<script>
    $(document).ready(function(){
        $("#l1").click(function(){
            $("#pen").slideToggle("slow");
             $(".span").toggle(500);
               $("#l1").toggleClass("l1");
        })
    });
</script>
<script>
    $(document).ready(function(){
        $("#l2").click(function(){
            $("#pen1").slideToggle("slow");
             $(".span1").toggle(500);
               $("#l2").toggleClass("l1");
        })
    });
</script>
<script>
    $(document).ready(function(){
        $("#l3").click(function(){
            $("#pen2").slideToggle("slow");
             $(".span2").toggle(500);
               $("#l3").toggleClass("l1");
        })
    });
</script>
<script>
    $(document).ready(function(){
        $("#l4").click(function(){
            $("#pen3").slideToggle("slow");
             $(".span3").toggle(500);
               $("#l4").toggleClass("l1");
        })
    });
</script>
<script>
    $(document).ready(function(){
        $("#l5").click(function(){
            $("#pen4").slideToggle("slow");
             $(".span4").toggle(500);
               $("#l5").toggleClass("l1");
        })
    });
</script>
<script>
    $(document).ready(function(){
        $(".dao2").click(function(){
            $(".dao3").slideToggle("slow");
        })
    });
</script>
<script>
    $(".ee").css({ background: "#4D4D4D" });
    $(".ee1").css({ background: "#9C9C9C" });
     $(".ee2").css({ background: "#242424" });
     $(".ter").css({ background: "#4D4D4D" });
</script>
<script>
    $(function(){
        $(".tijiao").click(function(){
            var youhuima = $(".youhuima").val();
            var money = $(".money").val();
            var asd = $("input[type = 'radio']:checked").val();
            if(asd == null){
                alert("单选不能为空。");
            }else{
                $.ajax({
                type:"POST",
                url:"{:U('Root/addcodema')}",
                data:{youhuima:youhuima,money:money,asd:asd},
                dataType:"json",
                success:function(data){
                    if(data.status == 1){
                        alert("添加成功。");
                        window.location.href="__CONTROLLER__/youhuilist.html";
                    }else if(data.status == 2){
                        alert("失败。");
                    }
                }
            })
            }
            
        })
    })
    
</script>
</html>
