
<div class="warp">
    <div class="left">
        <div class="left1">
            <p>
                <!-- <img src="__PUBLIC__/admin/img/1_3_nor.png" alt=""> -->
                EatAway
            </p>
        </div>
        <!--    		<div class="left2">
                                <input type="text">
                                <input type="button">
                        </div>-->
        <div class="left3">
            <ul>
                <li>
                    <div id="l1">
                        <p>
                            <img src="__PUBLIC__/admin/img/01_nor.png" alt="">
                        </p>
                        <p>
                            首页
                        </p>
                        <span class="span">
                            ﹀
                        </span>
                    </div>
                    <div id="pen">
                        <ul>
                            <a href="{:U('Index/index')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        新认证商家
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('Index/jiaoyi')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        商家交易额
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('Index/tuidan')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        未处理退单申请
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('Index/ordermingxi')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        订单明细
                                    </p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </li>


                <li>
                    <div id="l2">
                        <p>
                            <img src="__PUBLIC__/admin/img/03_nor.png" alt="">
                        </p>
                        <p>
                            商户管理
                        </p>
                        <span class="span1">
                            ﹀
                        </span>
                    </div>
                    <div id="pen1">
                        <ul>
                            <a href="{:U('User/ready')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        已认证
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('User/index')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        认证中
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('User/tuidan')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        商户申请
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('User/jiaoyi')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        商户交易额
                                    </p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </li>


                <li>
                    <div id="l3">
                        <p>
                            <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                        </p>
                        <p>
                            用户管理
                        </p>
                        <span class="span2">
                            ﹀
                        </span>
                    </div>
                    <div id="pen2">
                        <ul>
                            <a href="{:U('Shop/userlist')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        用户
                                    </p>
                                </li>
                            </a>

                        </ul>
                    </div>
                </li>


                <li>
                    <div id="l4">
                        <p>
                            <img src="__PUBLIC__/admin/img/04_nor.png" alt="">
                        </p>
                        <p>
                            系统
                        </p>
                        <span class="span3">
                            ﹀
                        </span>
                    </div>
                    <div id="pen3">
                        <ul>
                            <a href="{:U('Shop/tuilist')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/4_3_nor.png" alt="">
                                    </p>
                                    <p>
                                        客户端推荐
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('Root/youhuilist')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/4_3_nor.png" alt="">
                                    </p>
                                    <p>
                                        优惠码管理
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('Index/kefu')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/4_2_nor.png" alt="">
                                    </p>
                                    <p>
                                        客服
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('Shop/backlist')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/4_2_nor.png" alt="">
                                    </p>
                                    <p>
                                        意见反馈
                                    </p>
                                </li>
                            </a>
                            <a href="{:U('Shop/outthis')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/4_2_nor.png" alt="">
                                    </p>
                                    <p>
                                        退出申请
                                    </p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </li>
                
                <if condition="$_SESSION['state'] eq 2">
                <li>
                    <div id="l5">
                        <p>
                            <img src="__PUBLIC__/admin/img/0.png" alt="">
                        </p>
                        <p>
                            管理员设置
                            
                        </p>
                        <span class="span4">
                            ﹀
                        </span>
                    </div>
                    <div id="pen4">
                        <ul>
                            <a href="{:U('Root/roots')}">
                                <li>
                                    <p>
                                        <img src="__PUBLIC__/admin/img/1_1_nor.png" alt="">
                                    </p>
                                    <p>
                                        管理员列表
                                    </p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </li>
                </if>
                
            </ul>
        </div>
    </div>

    {__CONTENT__}