<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>全平台返佣</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/brokerageUpdate.css"/>
</head>
<include file="Public:left" />
    <!-- 右侧主要内容-->
    <div class="right">
        <div class="rightmain">
            <p class="title">当前位置<span>全平台返佣&nbsp; > &nbsp;修改</span></p>
            <div class="formBox">
                <form action="" id="form1">
                    <p>
                        <span>返佣ID</span><input type="text" name="" value="A890" disabled/>
                    </p>
                    <p>
                        <span>区域名称</span><input type="text" name="" value="河北省" disabled/>
                    </p>
                    <p>
                        <span>返佣比例</span><input type="text" name="" value="30%"/>
                    </p>
                    <p>
                        <span>修改人</span><input type="text" name="" value="二级管理员" disabled/>
                    </p>
                    <div class="operate">
                        <span id="cancel" class="btn">取消并返回列表</span>
                        <input type="submit" value="保存" id="ok" class="btn fr"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>