<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>查看意见反馈管理</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/suggestionSee.css"/>
    <script src="__PUBLIC__/admin/js/jquery-3.1.1.min.js"></script>
</head>
<include file="Public:left" />
        <!-- 右侧主要内容-->
        <div class="right">
            <div class="rightmain">
                <p class="title">当前位置<span>意见反馈管理 > 查看</span></p>
                <table cellspacing="0" cellpadding="0" class="tableManage">
                    <tr class="title_table">
                        <td>ID</td>
                        <td>联系方式</td>                    
                        <td>反馈时间</td>                    
                    </tr>
                    <tr>
                        <td>{$result.bid}</td>
                        <td>{$result.mobile}</td>                  
                        <td>{$result.addtime}</td>                  
                    </tr>
                    <tr>
                        <td colspan=3>
                            <div class="main_fankui">
                                反馈内容：
                                <p>{$result.content}</p>
                            </div>
                            
                        </td> 
                    </tr>
                </table>
                <!-- 分页 -->
                <div class="page">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>