<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>举报管理</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/report.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/page.css"/>
    <script src="__PUBLIC__/admin/js/jquery-3.1.1.min.js"></script>
</head>
<body>
        <!-- 右侧主要内容-->
        <div class="right">
            <div class="rightmain">
                <p class="title">当前位置<span>举报管理 > 骑手举报管理</span></p>
                <table cellspacing="0" cellpadding="0" class="tableManage">
                    <tr class="title_table">
                        <td>ID</td>
                        <td>对象所属</td>
                        <td>举报对象</td>
                        <td width="25%;">举报原因</td>
                        <td>举报时间</td>                    
                        <td>操作</td>
                    </tr>
                    <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.target}</td>
                            <td>{$vo.name}</td>
                            <td><div>{$vo.reason}</div></td>
                            <td>{$vo.date}</td>
                            <td><a href="{:U('rider_reportSee')}?id={$vo.id}">查看</a><a href="" class="del">删除</a></td>
                        </tr>
                    </volist>
                </table>
                <!-- 分页 -->
                <div class="page">
                    {$pagelist}
                </div>
            </div>
        </div>
</body>
<script>
    //单个删除
    function delet(){
        $(".del").click(function(){
            if(confirm("您确定要删除吗?")){
                var tr=$(this).parent().parent();
                var id = $.trim(tr.children("td").eq(0).text());
//                console.log(id);
                del(id);
                tr.remove();
            }
        })
    }
    delet();
    /*
     单个删除
     */
    function del(id) {
        var url="{:U('admin/rider/report_del')}";
        $.post(url,{"id":id},function (data){
            if(data =='1'){
                return true;
            }else {
                return false;
            }
        })
    }
</script>
</html>