<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>管理员管理</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/managerUpdate.css"/>
</head>
<include file="Public:left" />
        <!-- 右侧主要内容-->
        <div class="right">
            <div class="rightmain">
                <p class="title">当前位置<span>平台管理 > <a href="{:U('Platform/storeKind')}">一级分类</a> > 添加二级分类</span></p>
                <form action="" method="" name="" class="formUpdate" id="kindmsg">

                    <ul>
                        <li><div>分类名称</div>
                            <input type="text" placeholder="二级分类名称" class="kindname" name="kindname">
                        </li>
                        <li><div>所属分类：</div><input type="text" placeholder="二级分类" class="password" readonly></li>
                        <volist name="msg" id="detail">
                        <li><div>所属父类名称：</div>
                            <input type="text" placeholder="{$detail.name}" class="password" readonly>
                            <input type="hidden" value="{$detail.id}" name="fatherid">
                        </li>
                        </volist>
                        <li><input type="button" value="确  定" class="submit"></li>
                    </ul>

                </form>  
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.submit').on('click',function () {
           var form = new FormData(document.getElementById('kindmsg'));
           $.ajax({
               type:'post',
               url:"{:U('Platform/add_storeKind')}",
               data:form,
               dataType:"json",
               processData:false,
               contentType:false,
               success:function(data){
                   if(data.status == 1){
                       alert('添加成功！');
                       window.self.location=document.referrer
//                       window.location.reload();
                   }else{
                       alert('添加失败！');
                   }

               },
               error:function(data) {
                   // body...
                   alert("添加失败！");
               }
           })
        });
    </script>
</body>
</html>